html, body {
	height: 100%;
	background-color: #fff;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
  	padding: 25px;
}

.content {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;

  -moz-column-gap: 15px;
  -webkit-column-gap: 15px;
  column-gap: 15px;
}

.main-container {    
	height: 100%;
    display: inline-block;
}

.product-title {
	font-size: 16px;
	margin: 0 20px 0 20px;
}

.product-image {
	margin: 10px 0 10px 0;

	img {
		height: 42px;
		width: 42px; 
	}
}

.product-price {
	font-size: 24px;
	font-weight: bold;
    margin: 0px 5px 20px 20px;
}
.price-qualifier{
	font-size: 12px;
    padding-top: 10px;
}


i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.right {
	margin: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
	margin: 20px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}
.active-image {
	margin: 20px;
	.product-image img {
		height: 400px;
		width: 400px;
	}
}

.review-container {
  	display: inline-block;
  	margin-bottom: 40px;
}
.reviews {
	background-color: lightgray;
}
.rating {
	margin: 20px 0 20px 0;
}
.pro-review, .con-review {
	display: inline-block;
	vertical-align: middle;
	padding: 5px;
	margin: 10px;
	width: 180px;
	height: 200px;
}
.star-rating {
	color: red;
	margin-top: 5px;
}
.star-unassigned {
	color: gray;
	margin-top: 5px;
}
.review-title {
	font-size: 12px;
	font-weight: bold;
}
.main-rating {
	font-size: 16px;
	display: flex
}

.promotions-container {
	margin: 20px;
}
.promotion {
	padding: 5px 0 5px 0;

	a {
		color: red;
	}
}

.feature {
	padding: 5px 0 0 0;
}

.add-to-cart {
	background-color: red;
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
	margin: 5px;
}
.pickup-store {
	background-color: black;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	margin: 5px;
	
}
.add-to-cart:hover, .pickup-store:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.button-container {
	margin: 20px;
}

@media only screen and (max-device-width: 480px) {
	.content {
	  -moz-column-count: 1;
	  -webkit-column-count: 1;
	  column-count: 1;
	  width: 100%;
	}

	.product-title {
	  font-size: 24px;
	}

	.active-image {
	    margin: auto;
	    width: 50%;
	    padding: 10px;

	    .product-image img {	
			height: 500px;
			width: 500px;
	    }
	}

	.product-image img {
		height: 100px;
		width: 100px;
	}

	i {
	    padding: 15px
	}

	.right, .left {
    	margin: 40px;
	}

	.review-container, .reviews, .pro-review, .con-review {
		display: block;
	}

	.review-title {
	    font-size: 26px;
    }
	.pro-review, .con-review {
		display: inline-block;
		width: 400px;
	    height: 400px;
	    font-size: 26px;
	}
	.main-rating {
		font-size: 38px;
	}
	.product-price, .product-title {
		font-size: 38px;
	}
	.price-qualifier, .pickup-store, .add-to-cart {
		font-size: 26px;
	}
	.highligts-container {
		margin-bottom: 100px;
	}
	.main-container {
		display: block;
	}
}